:root {
  /* Value */
  /* colors */
  --smc-reference-container-color-brand-bg-darker-20: var(--smc-colors-brand-darker-20);
  --smc-reference-container-color-brand-bg-darker-30: var(--smc-colors-brand-darker-30);
  --smc-reference-container-color-brand-bg-default: var(--smc-colors-brand-default);
  --smc-reference-container-color-brand-bg-lighter-40: var(--smc-colors-brand-lighter-40);
  --smc-reference-container-color-brand-border-darker-20: var(--smc-colors-brand-darker-20);
  --smc-reference-container-color-brand-border-darker-30: var(--smc-colors-brand-darker-30);
  --smc-reference-container-color-brand-border-default: var(--smc-colors-brand-default);
  --smc-reference-container-color-brand-border-lighter-20: var(--smc-colors-brand-lighter-20);
  --smc-reference-container-color-brand-border-lighter-30: var(--smc-colors-brand-lighter-30);
  --smc-reference-container-color-brand-fg-darker-10: var(--smc-colors-brand-darker-10);
  --smc-reference-container-color-brand-fg-darker-20: var(--smc-colors-brand-darker-20);
  --smc-reference-container-color-brand-fg-default: var(--smc-colors-brand-default);
  --smc-reference-container-color-brand-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-dark-bg-default: var(--smc-colors-surface-fixed-darker-90);
  --smc-reference-container-color-dark-bg-lighter-60: var(--smc-colors-surface-fixed-darker-60);
  --smc-reference-container-color-dark-bg-lighter-70: var(--smc-colors-surface-fixed-darker-70);
  --smc-reference-container-color-dark-bg-lighter-80: var(--smc-colors-surface-fixed-darker-80);
  --smc-reference-container-color-dark-border-default: var(--smc-colors-surface-fixed-darker-90);
  --smc-reference-container-color-dark-border-lighter-60: var(--smc-colors-surface-fixed-darker-50);
  --smc-reference-container-color-dark-border-lighter-70: var(--smc-colors-surface-fixed-darker-60);
  --smc-reference-container-color-dark-border-lighter-80: var(--smc-colors-surface-fixed-darker-70);
  --smc-reference-container-color-dark-fg-darker-100: var(--smc-colors-surface-darker-95);
  --smc-reference-container-color-dark-fg-default: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-dark-fg-lighter-10: var(--smc-colors-surface-darker-30);
  --smc-reference-container-color-disabled-bg-default: var(--smc-colors-surface-darker-20);
  --smc-reference-container-color-disabled-border-darker-20: var(--smc-colors-surface-darker-40);
  --smc-reference-container-color-disabled-border-default: var(--smc-colors-surface-darker-20);
  --smc-reference-container-color-disabled-fg-default: var(--smc-colors-surface-darker-40);
  --smc-reference-container-color-error-bg-darker-20: var(--smc-colors-error-darker-20);
  --smc-reference-container-color-error-bg-darker-30: var(--smc-colors-error-darker-30);
  --smc-reference-container-color-error-bg-default: var(--smc-colors-error-default);
  --smc-reference-container-color-error-bg-lighter-40: var(--smc-colors-error-lighter-40);
  --smc-reference-container-color-error-border-darker-20: var(--smc-colors-error-darker-20);
  --smc-reference-container-color-error-border-darker-30: var(--smc-colors-error-darker-30);
  --smc-reference-container-color-error-border-default: var(--smc-colors-error-default);
  --smc-reference-container-color-error-border-lighter-20: var(--smc-colors-error-lighter-20);
  --smc-reference-container-color-error-border-lighter-30: var(--smc-colors-error-lighter-30);
  --smc-reference-container-color-error-fg-darker-10: var(--smc-colors-error-darker-10);
  --smc-reference-container-color-error-fg-darker-20: var(--smc-colors-error-darker-20);
  --smc-reference-container-color-error-fg-default: var(--smc-colors-error-default);
  --smc-reference-container-color-error-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-info-bg-darker-20: var(--smc-colors-info-darker-20);
  --smc-reference-container-color-info-bg-darker-30: var(--smc-colors-info-darker-30);
  --smc-reference-container-color-info-bg-default: var(--smc-colors-info-default);
  --smc-reference-container-color-info-bg-lighter-40: var(--smc-colors-info-lighter-40);
  --smc-reference-container-color-info-border-darker-20: var(--smc-colors-info-darker-20);
  --smc-reference-container-color-info-border-darker-30: var(--smc-colors-info-darker-30);
  --smc-reference-container-color-info-border-default: var(--smc-colors-info-default);
  --smc-reference-container-color-info-border-lighter-20: var(--smc-colors-info-lighter-20);
  --smc-reference-container-color-info-border-lighter-30: var(--smc-colors-info-lighter-30);
  --smc-reference-container-color-info-fg-darker-10: var(--smc-colors-info-darker-10);
  --smc-reference-container-color-info-fg-darker-20: var(--smc-colors-info-darker-20);
  --smc-reference-container-color-info-fg-default: var(--smc-colors-info-default);
  --smc-reference-container-color-info-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-light-bg-darker-10: var(--smc-colors-surface-darker-10);
  --smc-reference-container-color-light-bg-darker-20: var(--smc-colors-surface-darker-20);
  --smc-reference-container-color-light-bg-darker-30: var(--smc-colors-surface-darker-30);
  --smc-reference-container-color-light-bg-default: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-light-border-darker-20: var(--smc-colors-surface-darker-20);
  --smc-reference-container-color-light-border-darker-30: var(--smc-colors-surface-darker-30);
  --smc-reference-container-color-light-border-default: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-light-fg-default: var(--smc-colors-surface-fixed-darker-80);
  --smc-reference-container-color-light-fg-lighter-10: var(--smc-colors-surface-darker-60);
  --smc-reference-container-color-primary-bg-darker-20: var(--smc-colors-primary-darker-20);
  --smc-reference-container-color-primary-bg-darker-30: var(--smc-colors-primary-darker-30);
  --smc-reference-container-color-primary-bg-default: var(--smc-colors-primary-default);
  --smc-reference-container-color-primary-bg-lighter-40: var(--smc-colors-primary-lighter-40);
  --smc-reference-container-color-primary-border-darker-20: var(--smc-colors-primary-darker-20);
  --smc-reference-container-color-primary-border-darker-30: var(--smc-colors-primary-darker-30);
  --smc-reference-container-color-primary-border-default: var(--smc-colors-primary-default);
  --smc-reference-container-color-primary-border-lighter-20: var(--smc-colors-primary-lighter-20);
  --smc-reference-container-color-primary-border-lighter-30: var(--smc-colors-primary-lighter-30);
  --smc-reference-container-color-primary-fg-darker-10: var(--smc-colors-primary-darker-10);
  --smc-reference-container-color-primary-fg-darker-20: var(--smc-colors-primary-darker-20);
  --smc-reference-container-color-primary-fg-default: var(--smc-colors-primary-default);
  --smc-reference-container-color-primary-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-primary-fg-lighter-30: var(--smc-colors-primary-lighter-30);
  --smc-reference-container-color-secondary-bg-darker-20: var(--smc-colors-secondary-darker-20);
  --smc-reference-container-color-secondary-bg-darker-30: var(--smc-colors-secondary-darker-30);
  --smc-reference-container-color-secondary-bg-default: var(--smc-colors-secondary-default);
  --smc-reference-container-color-secondary-bg-lighter-40: var(--smc-colors-secondary-lighter-40);
  --smc-reference-container-color-secondary-border-darker-20: var(--smc-colors-secondary-darker-20);
  --smc-reference-container-color-secondary-border-darker-30: var(--smc-colors-secondary-darker-30);
  --smc-reference-container-color-secondary-border-default: var(--smc-colors-secondary-default);
  --smc-reference-container-color-secondary-border-lighter-20: var(--smc-colors-secondary-lighter-20);
  --smc-reference-container-color-secondary-border-lighter-30: var(--smc-colors-secondary-lighter-30);
  --smc-reference-container-color-secondary-fg-darker-10: var(--smc-colors-secondary-darker-10);
  --smc-reference-container-color-secondary-fg-darker-20: var(--smc-colors-secondary-darker-20);
  --smc-reference-container-color-secondary-fg-darker-30: var(--smc-colors-secondary-darker-30);
  --smc-reference-container-color-secondary-fg-default: var(--smc-colors-secondary-default);
  --smc-reference-container-color-secondary-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-success-bg-darker-20: var(--smc-colors-success-darker-20);
  --smc-reference-container-color-success-bg-darker-30: var(--smc-colors-success-darker-30);
  --smc-reference-container-color-success-bg-default: var(--smc-colors-success-default);
  --smc-reference-container-color-success-bg-lighter-40: var(--smc-colors-success-lighter-40);
  --smc-reference-container-color-success-border-darker-20: var(--smc-colors-success-darker-20);
  --smc-reference-container-color-success-border-darker-30: var(--smc-colors-success-darker-30);
  --smc-reference-container-color-success-border-default: var(--smc-colors-success-default);
  --smc-reference-container-color-success-border-lighter-20: var(--smc-colors-success-lighter-20);
  --smc-reference-container-color-success-border-lighter-30: var(--smc-colors-success-lighter-30);
  --smc-reference-container-color-success-fg-darker-10: var(--smc-colors-success-darker-10);
  --smc-reference-container-color-success-fg-darker-20: var(--smc-colors-success-darker-20);
  --smc-reference-container-color-success-fg-default: var(--smc-colors-success-default);
  --smc-reference-container-color-success-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-surface-bg-darker-10: var(--smc-colors-surface-darker-10);
  --smc-reference-container-color-surface-bg-darker-100: var(--smc-colors-surface-darker-100);
  --smc-reference-container-color-surface-bg-darker-20: var(--smc-colors-surface-darker-20);
  --smc-reference-container-color-surface-bg-darker-30: var(--smc-colors-surface-darker-30);
  --smc-reference-container-color-surface-bg-darker-50: var(--smc-colors-surface-darker-50);
  --smc-reference-container-color-surface-bg-darker-70: var(--smc-colors-surface-darker-70);
  --smc-reference-container-color-surface-bg-darker-80: var(--smc-colors-surface-darker-80);
  --smc-reference-container-color-surface-bg-darker-90: var(--smc-colors-surface-darker-90);
  --smc-reference-container-color-surface-bg-darker-95: var(--smc-colors-surface-darker-95);
  --smc-reference-container-color-surface-bg-default: var(--smc-colors-surface-default);
  --smc-reference-container-color-surface-bg-lighter-10: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-surface-bg-transparent: var(--base-color-transparent);
  --smc-reference-container-color-surface-border-darker-10: var(--smc-colors-surface-darker-10);
  --smc-reference-container-color-surface-border-darker-100: var(--smc-colors-surface-darker-100);
  --smc-reference-container-color-surface-border-darker-20: var(--smc-colors-surface-darker-20);
  --smc-reference-container-color-surface-border-darker-30: var(--smc-colors-surface-darker-30);
  --smc-reference-container-color-surface-border-darker-50: var(--smc-colors-surface-darker-50);
  --smc-reference-container-color-surface-border-default: var(--smc-colors-surface-default);
  --smc-reference-container-color-surface-border-lighter-10: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-surface-border-transparent: var(--base-color-transparent);
  --smc-reference-container-color-surface-fg-darker-10: var(--smc-colors-surface-darker-10);
  --smc-reference-container-color-surface-fg-darker-60: var(--smc-colors-surface-darker-60);
  --smc-reference-container-color-surface-fg-darker-70: var(--smc-colors-surface-darker-70);
  --smc-reference-container-color-surface-fg-darker-95: var(--smc-colors-surface-darker-95);
  --smc-reference-container-color-surface-fg-default: var(--smc-colors-surface-default);
  --smc-reference-container-color-surface-fg-lighter-10: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-color-warning-bg-darker-20: var(--smc-colors-warning-darker-20);
  --smc-reference-container-color-warning-bg-darker-30: var(--smc-colors-warning-darker-30);
  --smc-reference-container-color-warning-bg-default: var(--smc-colors-warning-default);
  --smc-reference-container-color-warning-bg-lighter-40: var(--smc-colors-warning-lighter-40);
  --smc-reference-container-color-warning-border-darker-20: var(--smc-colors-warning-darker-20);
  --smc-reference-container-color-warning-border-darker-30: var(--smc-colors-warning-darker-30);
  --smc-reference-container-color-warning-border-default: var(--smc-colors-warning-default);
  --smc-reference-container-color-warning-border-lighter-20: var(--smc-colors-warning-lighter-20);
  --smc-reference-container-color-warning-border-lighter-30: var(--smc-colors-warning-lighter-30);
  --smc-reference-container-color-warning-fg-darker-10: var(--smc-colors-warning-darker-10);
  --smc-reference-container-color-warning-fg-darker-20: var(--smc-colors-warning-darker-20);
  --smc-reference-container-color-warning-fg-default: var(--smc-colors-warning-default);
  --smc-reference-container-color-warning-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-container-effects-shadow-color-dark-darker: var(--base-color-opacity-dark-250);
  --smc-reference-container-effects-shadow-color-dark-default: var(--base-color-opacity-dark-100);
  --smc-reference-container-effects-shadow-color-dark-lighter: var(--base-color-opacity-dark-50);
  --smc-reference-container-focused-outline-color-dark-default: var(--smc-reference-container-color-surface-border-darker-100);
  --smc-reference-container-focused-outline-color-light-default: var(--smc-reference-container-color-surface-border-lighter-10);
  --smc-reference-page-color-brand-bg-default: var(--smc-colors-brand-default);
  --smc-reference-page-color-brand-fg-default: var(--smc-colors-brand-default);
  --smc-reference-page-color-brand-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-page-color-error-fg-default: var(--smc-colors-error-default);
  --smc-reference-page-color-info-fg-default: var(--smc-colors-info-default);
  --smc-reference-page-color-primary-bg-default: var(--smc-colors-primary-default);
  --smc-reference-page-color-primary-bg-lighter-40: var(--smc-colors-primary-lighter-40);
  --smc-reference-page-color-primary-fg-default: var(--smc-colors-primary-default);
  --smc-reference-page-color-primary-fg-lighter-10: var(--smc-colors-surface-lighter-10);
  --smc-reference-page-color-secondary-bg-default: var(--smc-colors-secondary-default);
  --smc-reference-page-color-secondary-bg-lighter-40: var(--smc-colors-secondary-lighter-40);
  --smc-reference-page-color-secondary-fg-default: var(--smc-colors-secondary-darker-10);
  --smc-reference-page-color-secondary-fg-lighter-100: var(--smc-colors-surface-lighter-10);
  --smc-reference-page-color-success-fg-default: var(--smc-colors-success-default);
  --smc-reference-page-color-surface-bg-darker-10: var(--smc-colors-surface-darker-10);
  --smc-reference-page-color-surface-bg-darker-100: var(--smc-colors-surface-darker-100);
  --smc-reference-page-color-surface-bg-darker-20: var(--smc-colors-surface-darker-20);
  --smc-reference-page-color-surface-bg-darker-30: var(--smc-colors-surface-darker-30);
  --smc-reference-page-color-surface-bg-darker-70: var(--smc-colors-surface-darker-70);
  --smc-reference-page-color-surface-bg-darker-80: var(--smc-colors-surface-darker-80);
  --smc-reference-page-color-surface-bg-darker-90: var(--smc-colors-surface-darker-90);
  --smc-reference-page-color-surface-bg-darker-95: var(--smc-colors-surface-darker-95);
  --smc-reference-page-color-surface-bg-default: var(--smc-colors-surface-default);
  --smc-reference-page-color-surface-bg-lighter-10: var(--smc-colors-surface-lighter-10);
  --smc-reference-page-color-surface-bg-transparent: var(--base-color-transparent);
  --smc-reference-page-color-surface-fg-default: var(--smc-colors-surface-darker-95);
  --smc-reference-page-color-surface-fg-lighter-10: var(--smc-colors-surface-darker-70);
  --smc-reference-page-color-surface-fg-lighter-20: var(--smc-colors-surface-darker-50);
  --smc-reference-page-color-surface-fg-lighter-30: var(--smc-colors-surface-darker-30);
  --smc-reference-page-color-surface-fg-lighter-40: var(--smc-colors-surface-darker-10);
  --smc-reference-page-color-surface-fg-lighter-60: var(--smc-colors-surface-lighter-10);
  --smc-reference-page-color-warning-fg-default: var(--smc-colors-warning-default);
  /* numbers */
  --smc-reference-container-border-sm: var(--base-dimension-10);
  --smc-reference-container-border-radius-full: var(--base-dimension-10000);
  --smc-reference-container-effects-shadow-blur-xxs: var(--base-dimension-20);
  --smc-reference-container-effects-shadow-blur-xs: var(--base-dimension-30);
  --smc-reference-container-effects-shadow-blur-sm: var(--base-dimension-40);
  --smc-reference-container-effects-shadow-blur-md: var(--base-dimension-60);
  --smc-reference-container-effects-shadow-blur-lg: var(--base-dimension-100);
  --smc-reference-container-effects-shadow-blur-xl: var(--base-dimension-150);
  --smc-reference-container-effects-shadow-blur-xxl: var(--base-dimension-250);
  --smc-reference-container-effects-shadow-blur-xxxl: var(--base-dimension-500);
  --smc-reference-container-effects-shadow-horizontal-none: var(--base-dimension-0);
  --smc-reference-container-effects-shadow-spread-xxs: var(--base-dimension--120);
  --smc-reference-container-effects-shadow-spread-xs: var(--base-dimension--60);
  --smc-reference-container-effects-shadow-spread-sm: var(--base-dimension--50);
  --smc-reference-container-effects-shadow-spread-md: var(--base-dimension--40);
  --smc-reference-container-effects-shadow-spread-lg: var(--base-dimension--30);
  --smc-reference-container-effects-shadow-spread-xl: var(--base-dimension--20);
  --smc-reference-container-effects-shadow-spread-xxl: var(--base-dimension--10);
  --smc-reference-container-effects-shadow-spread-none: var(--base-dimension-0);
  --smc-reference-container-effects-shadow-vertical-xxs: var(--base-dimension-10);
  --smc-reference-container-effects-shadow-vertical-xs: var(--base-dimension-20);
  --smc-reference-container-effects-shadow-vertical-sm: var(--base-dimension-40);
  --smc-reference-container-effects-shadow-vertical-md: var(--base-dimension-80);
  --smc-reference-container-effects-shadow-vertical-lg: var(--base-dimension-100);
  --smc-reference-container-effects-shadow-vertical-xl: var(--base-dimension-200);
  --smc-reference-container-effects-shadow-vertical-xxl: var(--base-dimension-250);
  --smc-reference-container-focused-outline-size-default: var(--base-dimension-30);
  --smc-reference-icon-xs: var(--base-dimension-160);
  --smc-reference-icon-md: var(--base-dimension-240);
  --smc-reference-icon-lg: var(--base-dimension-320);
  --smc-reference-icons-nested-compact: var(--smc-reference-icon-xs);
  --smc-reference-icons-nested-comfortable: var(--smc-reference-icon-md);
  --smc-reference-icons-nested-spacious: var(--smc-reference-icon-lg);
  --smc-reference-sizing-24: var(--base-dimension-240);
  --smc-reference-sizing-40: var(--base-dimension-400);
  --smc-reference-sizing-56: var(--base-dimension-560);
  --smc-reference-spacing-3xs: var(--base-dimension-40);
  --smc-reference-spacing-2xs: var(--base-dimension-60);
  --smc-reference-spacing-xs: var(--base-dimension-80);
  --smc-reference-spacing-sm: var(--base-dimension-100);
  --smc-reference-spacing-lg: var(--base-dimension-160);
  --smc-reference-spacing-xl: var(--base-dimension-200);
  --smc-reference-spacing-2xl: var(--base-dimension-240);
}