:root {
  /* light */
  /* colors */
  --smc-colors-facebook-darker-10: #0052d6;
  --smc-colors-facebook-darker-20: #0042ad;
  --smc-colors-facebook-default: #0866ff;
  --smc-colors-facebook-lighter-10: #3481ff;
  --smc-colors-facebook-lighter-20: #619dff;
  --smc-colors-facebook-lighter-30: #8db8ff;
  --smc-colors-github-darker-10: #262626;
  --smc-colors-github-darker-20: #191919;
  --smc-colors-github-default: #333333;
  --smc-colors-github-lighter-10: #3f3f3f;
  --smc-colors-github-lighter-20: #4c4c4c;
  --smc-colors-github-lighter-30: #595959;
  --smc-colors-gmail-darker-10: #c82f23;
  --smc-colors-gmail-darker-20: #a61f14;
  --smc-colors-gmail-default: #ea4335;
  --smc-colors-gmail-lighter-10: #ff5647;
  --smc-colors-gmail-lighter-20: #ff7c71;
  --smc-colors-gmail-lighter-30: #ffa29a;
  --smc-colors-linked-in-darker-10: #004182;
  --smc-colors-linked-in-darker-20: #053059;
  --smc-colors-linked-in-default: #0a66c2;
  --smc-colors-linked-in-lighter-10: #378fe9;
  --smc-colors-linked-in-lighter-20: #71b7fb;
  --smc-colors-linked-in-lighter-30: #aad6ff;
  --smc-colors-brand-darker-10: var(--base-color-custom-600);
  --smc-colors-brand-darker-20: var(--base-color-custom-700);
  --smc-colors-brand-darker-30: var(--base-color-custom-800);
  --smc-colors-brand-default: var(--base-color-custom-500);
  --smc-colors-brand-lighter-10: var(--base-color-custom-400);
  --smc-colors-brand-lighter-20: var(--base-color-custom-300);
  --smc-colors-brand-lighter-30: var(--base-color-custom-200);
  --smc-colors-brand-lighter-40: var(--base-color-custom-100);
  --smc-colors-error-darker-10: var(--base-color-red-600);
  --smc-colors-error-darker-20: var(--base-color-red-700);
  --smc-colors-error-darker-30: var(--base-color-red-800);
  --smc-colors-error-default: var(--base-color-red-500);
  --smc-colors-error-lighter-10: var(--base-color-red-400);
  --smc-colors-error-lighter-20: var(--base-color-red-300);
  --smc-colors-error-lighter-30: var(--base-color-red-200);
  --smc-colors-error-lighter-40: var(--base-color-red-100);
  --smc-colors-info-darker-10: var(--base-color-blue-600);
  --smc-colors-info-darker-20: var(--base-color-blue-700);
  --smc-colors-info-darker-30: var(--base-color-blue-800);
  --smc-colors-info-default: var(--base-color-blue-500);
  --smc-colors-info-lighter-10: var(--base-color-blue-400);
  --smc-colors-info-lighter-20: var(--base-color-blue-300);
  --smc-colors-info-lighter-30: var(--base-color-blue-200);
  --smc-colors-info-lighter-40: var(--base-color-blue-100);
  --smc-colors-primary-darker-10: var(--base-color-custom-600);
  --smc-colors-primary-darker-20: var(--base-color-custom-700);
  --smc-colors-primary-darker-30: var(--base-color-custom-800);
  --smc-colors-primary-default: var(--base-color-custom-500);
  --smc-colors-primary-lighter-10: var(--base-color-custom-400);
  --smc-colors-primary-lighter-20: var(--base-color-custom-300);
  --smc-colors-primary-lighter-30: var(--base-color-custom-200);
  --smc-colors-primary-lighter-40: var(--base-color-custom-100);
  --smc-colors-primary-lighter-50: var(--base-color-custom-50);
  --smc-colors-secondary-darker-10: var(--base-color-slate-600);
  --smc-colors-secondary-darker-20: var(--base-color-slate-700);
  --smc-colors-secondary-darker-30: var(--base-color-slate-800);
  --smc-colors-secondary-default: var(--base-color-slate-500);
  --smc-colors-secondary-lighter-10: var(--base-color-slate-400);
  --smc-colors-secondary-lighter-20: var(--base-color-slate-300);
  --smc-colors-secondary-lighter-30: var(--base-color-slate-200);
  --smc-colors-secondary-lighter-40: var(--base-color-slate-100);
  --smc-colors-success-darker-10: var(--base-color-green-600);
  --smc-colors-success-darker-20: var(--base-color-green-700);
  --smc-colors-success-darker-30: var(--base-color-green-800);
  --smc-colors-success-default: var(--base-color-green-500);
  --smc-colors-success-lighter-10: var(--base-color-green-400);
  --smc-colors-success-lighter-20: var(--base-color-green-300);
  --smc-colors-success-lighter-30: var(--base-color-green-200);
  --smc-colors-success-lighter-40: var(--base-color-green-100);
  --smc-colors-surface-darker-10: var(--base-color-slate-100);
  --smc-colors-surface-darker-100: var(--base-color-dark);
  --smc-colors-surface-darker-20: var(--base-color-slate-200);
  --smc-colors-surface-darker-30: var(--base-color-slate-300);
  --smc-colors-surface-darker-40: var(--base-color-slate-400);
  --smc-colors-surface-darker-50: var(--base-color-slate-500);
  --smc-colors-surface-darker-60: var(--base-color-slate-600);
  --smc-colors-surface-darker-70: var(--base-color-slate-700);
  --smc-colors-surface-darker-80: var(--base-color-slate-800);
  --smc-colors-surface-darker-90: var(--base-color-slate-900);
  --smc-colors-surface-darker-95: var(--base-color-slate-950);
  --smc-colors-surface-default: var(--base-color-slate-50);
  --smc-colors-surface-lighter-10: var(--base-color-light);
  --smc-colors-surface-fixed-darker-50: var(--base-color-slate-500);
  --smc-colors-surface-fixed-darker-60: var(--base-color-slate-600);
  --smc-colors-surface-fixed-darker-70: var(--base-color-slate-700);
  --smc-colors-surface-fixed-darker-80: var(--base-color-slate-800);
  --smc-colors-surface-fixed-darker-90: var(--base-color-slate-900);
  --smc-colors-surface-fixed-darker-95: var(--base-color-slate-950);
  --smc-colors-surface-fixed-default: var(--base-color-slate-50);
  --smc-colors-surface-variant-default: var(--base-color-slate-50);
  --smc-colors-warning-darker-10: var(--base-color-orange-600);
  --smc-colors-warning-darker-20: var(--base-color-orange-700);
  --smc-colors-warning-darker-30: var(--base-color-orange-800);
  --smc-colors-warning-default: var(--base-color-orange-500);
  --smc-colors-warning-lighter-10: var(--base-color-orange-400);
  --smc-colors-warning-lighter-20: var(--base-color-orange-300);
  --smc-colors-warning-lighter-30: var(--base-color-orange-200);
  --smc-colors-warning-lighter-40: var(--base-color-orange-100);
}

:root[class*="dark"] {    
  /* dark */
  /* colors */
  --smc-colors-facebook-darker-10: #0052d6;
  --smc-colors-facebook-darker-20: #0042ad;
  --smc-colors-facebook-default: #0866ff;
  --smc-colors-facebook-lighter-10: #3481ff;
  --smc-colors-facebook-lighter-20: #619dff;
  --smc-colors-facebook-lighter-30: #8db8ff;
  --smc-colors-github-darker-10: #262626;
  --smc-colors-github-darker-20: #191919;
  --smc-colors-github-default: #333333;
  --smc-colors-github-lighter-10: #3f3f3f;
  --smc-colors-github-lighter-20: #4c4c4c;
  --smc-colors-github-lighter-30: #595959;
  --smc-colors-gmail-darker-10: #c82f23;
  --smc-colors-gmail-darker-20: #a61f14;
  --smc-colors-gmail-default: #ea4335;
  --smc-colors-gmail-lighter-10: #ff5647;
  --smc-colors-gmail-lighter-20: #ff7c71;
  --smc-colors-gmail-lighter-30: #ffa29a;
  --smc-colors-linked-in-darker-10: #004182;
  --smc-colors-linked-in-darker-20: #053059;
  --smc-colors-linked-in-default: #0a66c2;
  --smc-colors-linked-in-lighter-10: #378fe9;
  --smc-colors-linked-in-lighter-20: #71b7fb;
  --smc-colors-linked-in-lighter-30: #aad6ff;
  --smc-colors-brand-darker-10: var(--base-color-custom-300);
  --smc-colors-brand-darker-20: var(--base-color-custom-200);
  --smc-colors-brand-darker-30: var(--base-color-custom-100);
  --smc-colors-brand-default: var(--base-color-custom-400);
  --smc-colors-brand-lighter-10: var(--base-color-custom-600);
  --smc-colors-brand-lighter-20: var(--base-color-custom-700);
  --smc-colors-brand-lighter-30: var(--base-color-custom-800);
  --smc-colors-brand-lighter-40: var(--base-color-custom-900);
  --smc-colors-error-darker-10: var(--base-color-red-300);
  --smc-colors-error-darker-20: var(--base-color-red-200);
  --smc-colors-error-darker-30: var(--base-color-red-100);
  --smc-colors-error-default: var(--base-color-red-400);
  --smc-colors-error-lighter-10: var(--base-color-red-600);
  --smc-colors-error-lighter-20: var(--base-color-red-700);
  --smc-colors-error-lighter-30: var(--base-color-red-800);
  --smc-colors-error-lighter-40: var(--base-color-red-900);
  --smc-colors-info-darker-10: var(--base-color-blue-300);
  --smc-colors-info-darker-20: var(--base-color-blue-200);
  --smc-colors-info-darker-30: var(--base-color-blue-100);
  --smc-colors-info-default: var(--base-color-blue-400);
  --smc-colors-info-lighter-10: var(--base-color-blue-600);
  --smc-colors-info-lighter-20: var(--base-color-blue-700);
  --smc-colors-info-lighter-30: var(--base-color-blue-800);
  --smc-colors-info-lighter-40: var(--base-color-blue-900);
  --smc-colors-primary-darker-10: var(--base-color-custom-300);
  --smc-colors-primary-darker-20: var(--base-color-custom-200);
  --smc-colors-primary-darker-30: var(--base-color-custom-100);
  --smc-colors-primary-default: var(--base-color-custom-400);
  --smc-colors-primary-lighter-10: var(--base-color-custom-600);
  --smc-colors-primary-lighter-20: var(--base-color-custom-700);
  --smc-colors-primary-lighter-30: var(--base-color-custom-800);
  --smc-colors-primary-lighter-40: var(--base-color-custom-900);
  --smc-colors-primary-lighter-50: var(--base-color-custom-950);
  --smc-colors-secondary-darker-10: var(--base-color-slate-300);
  --smc-colors-secondary-darker-20: var(--base-color-slate-200);
  --smc-colors-secondary-darker-30: var(--base-color-slate-100);
  --smc-colors-secondary-default: var(--base-color-slate-400);
  --smc-colors-secondary-lighter-10: var(--base-color-slate-600);
  --smc-colors-secondary-lighter-20: var(--base-color-slate-700);
  --smc-colors-secondary-lighter-30: var(--base-color-slate-800);
  --smc-colors-secondary-lighter-40: var(--base-color-slate-900);
  --smc-colors-success-darker-10: var(--base-color-green-300);
  --smc-colors-success-darker-20: var(--base-color-green-200);
  --smc-colors-success-darker-30: var(--base-color-green-100);
  --smc-colors-success-default: var(--base-color-green-400);
  --smc-colors-success-lighter-10: var(--base-color-green-600);
  --smc-colors-success-lighter-20: var(--base-color-green-700);
  --smc-colors-success-lighter-30: var(--base-color-green-800);
  --smc-colors-success-lighter-40: var(--base-color-green-900);
  --smc-colors-surface-darker-10: var(--base-color-slate-900);
  --smc-colors-surface-darker-100: var(--base-color-light);
  --smc-colors-surface-darker-20: var(--base-color-slate-800);
  --smc-colors-surface-darker-30: var(--base-color-slate-700);
  --smc-colors-surface-darker-40: var(--base-color-slate-600);
  --smc-colors-surface-darker-50: var(--base-color-slate-500);
  --smc-colors-surface-darker-60: var(--base-color-slate-400);
  --smc-colors-surface-darker-70: var(--base-color-slate-300);
  --smc-colors-surface-darker-80: var(--base-color-slate-200);
  --smc-colors-surface-darker-90: var(--base-color-slate-100);
  --smc-colors-surface-darker-95: var(--base-color-slate-50);
  --smc-colors-surface-default: var(--base-color-slate-950);
  --smc-colors-surface-lighter-10: var(--base-color-dark);
  --smc-colors-surface-fixed-darker-50: var(--base-color-slate-500);
  --smc-colors-surface-fixed-darker-60: var(--base-color-slate-600);
  --smc-colors-surface-fixed-darker-70: var(--base-color-slate-700);
  --smc-colors-surface-fixed-darker-80: var(--base-color-slate-800);
  --smc-colors-surface-fixed-darker-90: var(--base-color-slate-900);
  --smc-colors-surface-fixed-darker-95: var(--base-color-slate-950);
  --smc-colors-surface-fixed-default: var(--base-color-slate-50);
  --smc-colors-surface-variant-default: var(--base-color-slate-600);
  --smc-colors-warning-darker-10: var(--base-color-orange-300);
  --smc-colors-warning-darker-20: var(--base-color-orange-200);
  --smc-colors-warning-darker-30: var(--base-color-orange-100);
  --smc-colors-warning-default: var(--base-color-orange-400);
  --smc-colors-warning-lighter-10: var(--base-color-orange-600);
  --smc-colors-warning-lighter-20: var(--base-color-orange-700);
  --smc-colors-warning-lighter-30: var(--base-color-orange-800);
  --smc-colors-warning-lighter-40: var(--base-color-orange-900);
}
